<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img height="250px" src="https://s7d2.scene7.com/is/image/ritzcarlton/pnqrz-executive-50665061?$XlargeViewport100pct$" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Suite Room</h5>
                          <p class="card-text">A suite in a hotel or other public accommodation denotes, according to most dictionary definitions, connected rooms under one room number</p>
                        </div>
                </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-gurgaon/room-and-suites/presidential-suite/detail/01-presidential-suite-living-room.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Presidential Suites</h5>
                          <p class="card-text">Presidential suites are the most luxurious accommodations offered by hotels. Brands typically offer only one or two suites of this caliber at a given property. </p>
        
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="250px" src="https://www.theleela.com/prod/content/assets/styles/hero_banner_1920x980/public/2021-07/Header_21.jpg?VersionId=u2NfbE8h0.Zh08UiCmGsMyfElMQ7AKbF&itok=7j9Lph7s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Deluxe Room</h5>
                          <p class="card-text">It will be bigger, more luxurious, and probably have a great view. You're most likely to find deluxe describing a spa, hotel, car, or house.</p>
        
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>